
html, body { margin:0; padding:0; font:1em/1.75 Verdana, Arial, Helvetica, sans-serif; -ms-text-size-adjust:100%; -webkit-text-size-adjust:100% }
#header { position:relative; top:0; left:0; right:0; height:4.0625em; background:#222 }
#header > span { position:absolute; top:1.175em; left:5em; color:#fff }
#header span + a { position:absolute; top:0.65em; right:0.5em; color:#fff; text-decoration:none }
#header a span { font-size:1.5em }

.page-content { padding:0 1em 1em; max-width:64em; margin:auto }

.breadcrumbs { font-size:.75em; border-bottom:7px solid #eee; margin:0 -1.25em 1.5em; padding:1em 1.25em }
.breadcrumbs span { display:none }

@media(min-width:30em) { .breadcrumbs { line-height:3.75; padding:0 1.25em } }
@media(min-width:60em) { .breadcrumbs span { display:inline-block } }

a, a:active, a:visited { color:#c30 }
a:visited { color:#c90 }
a:hover, a:focus { color:#666; text-decoration:none }

code { display:block; background:#ebebeb; font-size:0.875em; padding:1em 2em; overflow-x:scroll; white-space:nowrap }
blockquote { font-style:italic; margin:0 5% }

.logo {
	height: auto;
	width: 20%;
	padding: 0;
}


.filter-categories span { display:inline-block; padding:0.25em 0; white-space:nowrap}
.filter-text, .filter-label { font-size:0.50em; white-space: normal; }
.filter-label { margin-right:1em; padding:0.35em 0.5em; border-radius:0.25em }
.filter-wrap { display:-webkit-flexbox; display:-ms-flexbox; display:flex; flex-wrap:wrap; position:relative; overflow:hidden; margin:1.5em -0.75% 2em; font-size:0.9375em }
.filter-item { display:-webkit-flexbox; display:-ms-flexbox; display:flex; flex-direction:column; width:46.5%; padding:2% 1%; margin:0.75vw 0.75%; text-align:center; background:#333; color:#fff }
.filter-item span { display:block; text-align:right; font-size:0.875em; color:#ccc; padding-right:5% }
.filter-item b { display:block; font-size:0.9375em; margin:1em 0 0.5em }
.filter-item b:before, .filter-item b:after { content:'~'; font-weight:normal }
.filter-item p { font-size:0.75em; color:#ccc; -webkit-flex:1 0 auto; -ms-flex:1 0 auto; flex:1 0 auto }
.filter-item i { font-size:0.9375em; font-weight:bold; margin-top:0.25em; }
.filter-item ul { list-style-type:none; margin-left:0; margin-top:2em; padding:0; font-size:0.75em; color:#000 }
.filter-item li { display:inline-block; line-height:2; padding:0 2%; border-radius:0.25em }

/* .info-not-sharing, .info-nd-sharing, .info-both-sharing { background: lightgoldenrodyellow} */

.filtered-inclusive .filter-item, .filtered-exclusive .filter-item, .filter-no-item { display:none } /* filtered-inclusive/filtered-exclusive class applied via js */
.filtered-inclusive .filter-item.selected, .filtered-exclusive .filter-item:not(.selected) { display:-webkit-flexbox; display:-ms-flexbox; display:flex } /* selected class applied via js */ 
.filter-no-item.filter-no-item-active { display:block; width:100%; background:#fcc; color:red; padding:1em 1.5em; margin:0.75% }
.filter-mask-active { position:absolute; top:0; left:0; bottom:0; right:0; -webkit-animation:filterMask 1s ease-in-out both; animation:filterMask 1s ease-in-out both }

@-webkit-keyframes filterMask { 
	0% { background:transparent } 
	50% { background:#fff } 
	100% { background:transparent } 
	}
@keyframes filterMask { 
	0% { background:transparent } 
	50% { background:#fff } 
	100% { background:transparent } 
	}

@media(min-width:40em) { 
	.filter-text, .filter-label, .filter-wrap { font-size:0.875em }
	.filter-item { width:29.75% }
	}

@media(min-width:56em) { 
	.filter-text, .filter-label, .filter-wrap { font-size:1em } 
	.filter-item { width:21.5% }
	}

@media(min-width:64em) {
	.filter-item { margin:0.5em 0.75% }
	}

.sidenav {
	text-align: left;
	height: 100%;
	width: 30%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	overflow-x: auto;
	margin-left: 15px;
	margin-top: 20px; 
}	

.sidenav > h1 { text-align: center; }

.main-area {
	width: 85%;
	margin-top: 10%;
    margin-left: 35%;
}

.question > h3 {
	color: navy;
}
